    *,
html,
body {
  cursor: url(https://cur.cursors-4u.net/smilies/smi-3/smi275.ani),
    url(https://cur.cursors-4u.net/smilies/smi-3/smi275.gif), auto !important;
  background-color: rgb(244, 184, 218);
background-repeat: no-repeat;
background-position:center top ;
background-size: 100cqmax;
font-family: fredoka;
}